<div id="modalOverlay" class="modal-overlay"></div>

<div id="formModal" class="modal">
    <div class="modal__header">
        <h5>We will help you choose a poker room</h5>
        <button id="closeModalButton">&times;</button>
    </div>
    <div class="progress"></div>
    <div id="modalContent" class="modal__content"></div>
    <div class="modal__footer">
        <button id="prevButton">Previous question</button>
        <button id="nextButton">Next question</button>
    </div>
</div>

<button id="openModalButton">Open Modal</button>